HerzfeldComplianceServer/Web References/Mediator_Global/QueryDrivenAPI3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntities.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntities.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataInstance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataInstance" nillable="true" type="tns:DataInstance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataInstance" nillable="true" type="tns:ArrayOfDataInstance" />
  <xs:complexType name="DataInstance">
    <xs:sequence>
      <xs:element name="_x003C_ConceptName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EndTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_EntityId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_StartTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataInstance" nillable="true" type="tns:DataInstance" />
</xs:schema>